<!doctype html>
<html lang="en" data-theme="emerald">
  <head style="height: 100%; width: 100%;">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.12.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>


    <title>Hospital Database System</title>
  </head>
  <body style="height: 100%; width: 100%; overflow-x: hidden;">
    <!-- navbar -->
    <div class="navbar mb-2 fixed w-full z-10 top-0 border-b bg-base-100 text-base-content ">
      <div class="px-2 mx-2 navbar-start">
          <span class="text-lg font-bold">
            <a href="/">Hospital Database System</a>
          </span>
      </div> 
      <div class="hidden px-2 mx-2 navbar-center lg:flex">
        <div class="flex items-stretch">
          <ul class="menu menu-horizontal">
            <li>
              <a href="update" class="ghost-btn rounded-lg">Update</a>
            </li> 
            <li>
              <a href="insert" class="ghost-btn rounded-lg">Insert</a>
            </li> 
            <li>
              <a href="delete" class="ghost-btn rounded-lg">Delete</a>
            </li>
            <li>
              <a href="display" class="ghost-btn rounded-lg">Display</a>
            </li>
          </ul>
        </div>
      </div> 
      <div class="navbar-end">
        <div class="dropdown dropdown-end">
          <div tabindex="0" class="m-1 btn btn-square btn-ghost lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
          </div> 
          <ul tabindex="0" class="p-2 shadow menu dropdown-content bg-base-100 rounded-box w-52">
            <li>
              <a href="update" >Update</a>
            </li> 
            <li>
              <a href="insert" >Insert</a>
            </li> 
            <li>
              <a href="delete" >Delete</a>
            </li>
            <li>
              <a href="display" >Display</a>
            </li>
          </ul>
        </div>
        <!-- <button class="btn btn-square btn-ghost">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current">             
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>             
          </svg>
        </button> -->
      </div>
  </div>


  <!-- hero -->
  <div class="hero min-h-screen bg-base-100">
    <div class="hero-content flex-col lg:flex-row gap-8">
      <div class="card w-80 h-160 bg-base-100 shadow-xl">
        <figure><img class="p-8" src="{{url_for('static', filename='update.svg')}}" alt="update" /></figure>
        <div class="card-body">
          <h2 class="card-title">Update</h2>
          <p>Update entries of a table in the database.</p>
          <div class="card-actions justify-end">
            <form method="post" enctype="multipart/form-data" >
              <button name="update" value="update" class="btn btn-primary" href="/update">Update</button>
            </form>
          </div>
        </div>
      </div>

      <div class="card w-80 h-160 bg-base-100 shadow-xl">
        <figure><img class="p-8" src="{{url_for('static', filename='insert.svg')}}" alt="insert" /></figure>
        <div class="card-body">
          <h2 class="card-title">Insert</h2>
          <p>Add a new entry into a table in the database.</p>
          <div class="card-actions justify-end">
            <form method="post" enctype="multipart/form-data" >
              <button name="insert" value="insert" class="btn btn-primary"  href="/insert">Insert</button>
            </form>
          </div>
        </div>
      </div>

      <div class="card w-80 h-160 bg-base-100 shadow-xl">
        <figure><img class="p-8" src="{{url_for('static', filename='delete.svg')}}" alt="delete" /></figure>
        <div class="card-body">
          <h2 class="card-title">Delete</h2>
          <p>Delete an entry from a table in the database.</p>
          <div class="card-actions justify-end">
            <form method="post" enctype="multipart/form-data" >
              <button name="delete" value="delete" class="btn btn-primary"  href="/delete">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- footer -->
  <footer class="footer p-10 bg-base-200 text-base-content">
    <div>
      <h1 class="text-xl font-bold">Hospital Database System</h1>
      <p>Made with Flask and MySQL</p>
    </div> 
    <div>
      <span class="footer-title">Commands</span> 
      <a class="link link-hover">Update</a> 
      <a class="link link-hover">Insert</a> 
      <a class="link link-hover">Delete</a> 
    </div> 
  
    <div>
      <span class="footer-title">Team G1</span> 
      <a class="link link-hover">Amey Kulkarni</a> 
      <a class="link link-hover">Chris Francis</a> 
      <a class="link link-hover">Eshan Gujarathi</a>
      <a class="link link-hover">Hitarth Gandhi</a>
    </div>
    <div>
      <span class="footer-title">Team G2</span> 
      <a class="link link-hover">Hrushti Naik</a>
      <a class="link link-hover">Shril Mody</a>
      <a class="link link-hover">Viraj Shah</a>
      <a class="link link-hover">Vishal Soni</a>
    </div>
  </footer>

  </body>
</html>