<!doctype html>
<html lang="en" data-theme="emerald">
  <head style="height: 100%; width: 100%;">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.12.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>Hospital Database System</title>
  </head>
  <body style="height: 100%; width: 100%; overflow-x: hidden;">
    <!-- navbar -->
    <div class="navbar mb-2 fixed w-full z-50 top-0 border-b bg-base-100 text-base-content ">
      <div class="px-2 mx-2 navbar-start">
          <span class="text-lg font-bold">
            <a href="/">Hospital Database System</a>
          </span>
      </div> 
      <div class="hidden px-2 mx-2 navbar-center lg:flex">
        <div class="flex items-stretch">
          <ul class="menu menu-horizontal">
            <li>
              <a href="/" class="ghost-btn rounded-lg">Home</a>
              <a href="pick_table" class="ghost-btn rounded-lg">Edit</a>
            </li> 
          </ul>
        </div>
      </div> 
      <div class="navbar-end">
        <div class="dropdown dropdown-end">
          <div tabindex="0" class="m-1 btn btn-square btn-ghost lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
          </div> 
          <ul tabindex="0" class="p-2 shadow menu dropdown-content bg-base-100 rounded-box w-52">
            <li>
              <a href="/" >Home</a>
              <a href="pick_table" >Edit</a>
            </li> 
            
          </ul>
        </div>
        <!-- <button class="btn btn-square btn-ghost">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current">             
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>             
          </svg>
        </button> -->
      </div>
  </div>


  <!-- hero -->
  <div class="min-h-screen bg-base-100 p-16 lg:p-32">
    <h1 class="font-bold text-3xl pl-4"> Pick a table</h1>
    <div class="hero-content flex-col lg:flex-row-reverse gap-16">
      <div class="flex-col w-2/3">
        <h1 class="font-bold text-xl p-2">{{ table_name }}</h1>
        <div class="card overflow-x-auto w-full overflow-y-auto max-h-96 shadow-xl">
          <table class="table w-full">
            {{ table|safe  }}
          </table>
        </div>
      </div>
      <div class="card flex-shrink-0 w-full max-w-sm shadow-xl bg-base-100">
        <form class="card-body" enctype="multipart/form-data" method="post">

          <div class="form-control">
            <select name="table" class="select select-bordered w-full max-w-xs" required>
              {{ options|safe }}
            </select>
          </div>

          <div class="form-control mt-2">
            <div class="flex-row gap-2">
              <button name="pick" class="btn btn-primary mr-2" >Pick</button>
              <button name="describe" class="btn btn-primary btn-outline" >Describe</button>
            </div>
          </div>
          
        </form>
      </div>
    </div>
  </div>

  <!-- footer -->

  <footer class="footer p-10 bg-base-200 text-base-content">
    <div>
      <h1 class="text-xl font-bold">Hospital Database System</h1>
      <p>Made with Flask and MySQL</p>
    </div> 
    <div>
      <span class="footer-title">Commands</span> 
      <p>Update</p> 
      <p>Insert</p> 
      <p>Delete</p> 
    </div> 
  
    <div>
      <span class="footer-title">Team G1</span> 
      <p>Amey Kulkarni (18110016)</p> 
      <p>Chris Francis (18110041)</p> 
      <p>Eshan Gujarathi (19110082)</p>
      <p>Hitarth Gandhi (19110087)</p>
    </div>
    <div>
      <span class="footer-title">Team G2</span> 
      <p>Hrushti Naik (19110088)</p>
      <p>Shril Mody (18110162)</p>
      <p>Viraj Shah (18110188)</p>
      <p>Vishal Soni (19110207)</p>
    </div>
  </footer>

  </body>
</html>